h3 {
    color : red;
}
.square {
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkers-board {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}
.piece {
    border-radius: 50%;
    display: block;
    border: 4px solid;
    cursor: pointer;
}
.row{
    --bs-gutter-x: 0;
}
button{
    padding-block: 0;
    padding-inline: 0;
}





